html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.bg-st-dark {
  background-color: #181c1f;
}

.footer {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #0e1112;  
  /* bottom: 0; */
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  /* background-color: #f5f5f5; */
}

.navbar {
  height: 75px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.subtitle-small {
  color: gray;
}

code {
  font-size: 80%;
}

h1.jumbotron-subtitle {
  margin-top: .5em !important;
  margin-bottom: .5em;
}

h1.display-3 {
  padding-top: 20px;
}

.unlimited-moto {
  margin-bottom: 1em;
}

.unlimited-text-logo {
  font-weight: bold;
}

.unlimited-text-logo-sep {
}

.product-img {
  z-index: 1;
  overflow: hidden;
  padding-top: 144px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-position: 50% 43px;
  background-size: auto 60px;
  background-repeat: no-repeat;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .16);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-eth-wallet {
  background-image: url(img/wallet.svg);
  background-color: #007bff;
}

.product-lightning {
  background-color: #091440;
  background-image: url(img/lightning.svg);
}

.product-exchange {
  background-color: #ffc84d;
  background-image: url(img/exchange.svg);
}

.card {
}

.footer h5 {
  color: rgba(179, 174, 174, 0.932);
}

.footer ul li {
  height: 20px;
  padding: 5px;
  padding-top: 0px;
}

.ccc-widget {
  display: table !important;
  float: none !important;
  /* width: 100%; */
}

.jumbotron {
  padding-bottom: 0px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.container {
  position: relative;
}